#bsc_page {
width: 1024px;
margin: 0 auto;
position: relative;    
}

#top_navbar {
width : 97%;
height :22%;
background: -webkit-gradient(linear,left top,left bottom,from(rgb(119,0,126)),to(rgb(63,0,57)));
background: -moz-linear-gradient(top,rgb(119,0,126),rgb(63,0,57));
-moz-border-radius: 22px;
border-radius: 22px;
-moz-box-shadow: 10px 10px 7px #888;
-webkit-box-shadow: 10px 10px 7px #888;
box-shadow: 10px 10px 7px #888;
float:left;
color: white;
display: block;
margin-left:10px;
}


#top_navbar ul {
    list-style: none;
    margin-left:110px;
    padding: 0;
    width: 97%;
    float: left;
}

#top_navbar ul li {
    width:20%;
    line-height:100%;
    float:left;
    color:white;
}

#top_navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 120%;
    font-family: "Helvetica";
}


#bottom_navbar {
    width : 97%;
    margin-top:97%;
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(119,0,126)),to(rgb(63,0,57)));
    background: -moz-linear-gradient(top,rgb(119,0,126),rgb(63,0,57));
    -moz-border-radius: 22px;
    border-radius: 22px;
    -moz-box-shadow: 10px 10px 7px #888;
    -webkit-box-shadow: 10px 10px 7px #888;
    box-shadow: 10px 10px 7px #888;
    float:left;
    color: white;
    margin-left:10px;
}

#bottom_navbar  ul {
    width : 97%;
    height:97%;
    float:left;
    list-style: none;
    margin-left:110px;
}

#bottom_navbar  ul li {
    width : 20%;
    float:left;
    font-size: 120%;
    font-family: "Helvetica";
}

#mediaspace embed{
    margin-left:100px;
    margin-top:63px;
}
#now_watching {
    position:absolute;
	padding:10px;
	left:18px;
	top: 180px;
	width:180px;
	background: -webkit-gradient(linear,left top,left bottom,from(rgb(119,0,126)),to(rgb(63,0,57)));
	background: -moz-linear-gradient(top,rgb(119,0,126),rgb(63,0,57));
	-moz-border-radius: 22px;
	border-radius: 22px;
	text-align:left;
	overflow:hidden;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
        color: white;
        font-size: 0.8em;
        font-family: Helvetica;
}


#now_watching a{
    color:white;
    font-size : 0.92em;
}
#now_watching h1 {
    font-size: 1em;
}

#mediaspace {
    position: absolute;
    margin-top: 61px;
    margin-left: 150px;
}
#video_bottom_container {
position: absolute;
width : 640px;
height : 250px;
background-color:white;
margin-left:250px;
margin-top:650px;
-moz-border-radius: 22px;
border-radius:22px;
-moz-box-shadow: 10px 10px 7px 7px #888;
box-shadow: 7px 7px 7px 7px #888;
font-family: "Helvetica";
font-size:11;
-webkit-box-shadow:7px 7px 7px 7px #888;
/*border: 0.1em solid black;*/
}
#screencast_creator_tag_box {
    position: relative;
    margin-left: 50px;
    margin-top : 20px;
}

#screencast_creator_tag_box a {
    font-family:"Helvetica";
    font-size:11;
    text-decoration: none;
}
#current_video_share_box {
margin-top: 25px;
margin-left: 52px;
}

#current_video_share_box textarea {
    position:relative;
    margin-left:29px;
    margin-top: 12px;
    font-size: 55%;
    border: 0.08em solid gray;
    -webkit-border:.08em ;
    overflow: hidden;
    width : 500px;
    height: 68px;
    resize: none;
}

#related_content {
    position: relative;
    width: 500px;
/*    height: 110px;*/
    margin-left: 300px;
    top: 123px;
    float:left;
}
#related_content_entry {
    position: relative;
    width: 480px;
    height:110px;
    padding-top:10px;
    padding-bottom:10px;
    border:0.08em solid gray;
    -moz-border-radius:22px 22px 22px 22px;
    border-radius: 22px;
    margin-bottom:15px;
    background: rgba(157,177,192,0.3);
}
#related_content_entry img {
    position: absolute;
    width: 110px;
    height: 110px;
    float:left;
    margin-left:15px;
 
}

#related_content_entry #related_entry_text {
    width:330px;
    float:right;
    position:relative;
}

#upload_form{
    margin-left:306px;
    padding-top: 175px;
}

/*#video_tags_share_container {
    width: 800px;
    height: 800px;
    left:0px;
    position:absolute;
    margin-left: 257px;
    margin-top:182px;
    background-color: rgba(155,155,140,0.2);
    border-radius: 22px;
    -moz-border-radius: 22px;
    border:0.10em solid gray;
}
*/
a {
    color : black;
}
